
           h2{
            color:orange;
            text-align: center;
            background-color: antiquewhite;
             }
             p{
                 font-size:2.2em ;
                 text-align: center;
                 color: aqua;
                 background-color: black;
                 }
    